
      .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
      }
      @media (max-width: 750px) {
        .video-grid{
          grid-template-columns: 1fr 1fr;
        }
      }

      @media (min-width: 1000px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
        
      @media (min-width: 750px) and (max-width: 999px) {
        video-grid {
          grid-template-columns: 1fr 1fr 1fr;
      }
    }
      .thumbnail-1 {
        width: 100%;
      }
      .video-title {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }
      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 10px;
      }
      .profile-picture {
        width: 36px;
        border-radius: 30px;
      }
      .thumbnail-row {
        margin-bottom: 8px;
        position: relative;
      }
      .video-author {
        margin-bottom: 4px;
      }
      .video-author,
      .video-stats {
        font-size: 14px;
        color: rgb(96, 96, 96);
      }
      .video-time {
        background-color: black ;
        color: white;
        position:absolute;
        bottom: 8px;
        right: 10px;
        font-family: "Roboto";
        font-size: 12px;
        font-weight: 500;
        padding: 4px;
        border-radius: 2px;
      }

      .video-title .video-link {
        text-decoration: none;
        color: black;
      }
      .channel-picture {
        position: relative;
      }
      .channel-picture .tooltip {
        background-color: white;
        width: 200px;
        padding: 12px 12px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        position: absolute;
        top: 55px;
        z-index: 300;

        opacity: 0;
        pointer-events: none;

        display: flex;
        align-items: center;
        transition: opacity 0.15s;
      }
  
      .channel-picture:hover .tooltip {
        opacity: 1;
      }
      .video-author-tooltip {
      font-family: Roboto, Arial;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 4px;
    }

    .channel-subscribers-tooltip {
      font-family: Roboto, Arial;
      color: rgb(96, 96, 96);
      font-size: 14px;
    }
    .channel-picture-tooltip {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-right: 8px;
    }
    .tooltip-text {
      display: flex;
      flex-direction: column;
    }